In [1]:
import pandas as pd

df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [2]:
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [3]:
df = df.dropna()
df = df[df.Borough != 'Not assigned']
df = df.replace('\n','', regex=True)
df = df.groupby(['Postcode','Borough'], sort=False).agg( ','.join)
df.reset_index(inplace = True)
df[df.Neighbourhood == 'Not assigned']

0 Postcode       Borough Neighbourhood
4      M7A  Queen's Park  Not assigned

In [4]:
df.loc[df.Neighbourhood == 'Not assigned', 'Neighbourhood'] = df['Borough']
df[df.Postcode == 'M7A']

0 Postcode       Borough Neighbourhood
4      M7A  Queen's Park  Queen's Park

In [5]:
df.shape

(103, 3)

In [6]:
df['Latitude'] = '0';
df['Longitude'] = '0';

df_geo = pd.read_csv("https://cocl.us/Geospatial_data")
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
for i in df.index:
    for j in df_geo.index:
        if df.iloc[i, 0] == df_geo.iloc[j, 0]:
            df.iloc[i, 3] = df_geo.iloc[j, 1]
            df.iloc[i, 4] = df_geo.iloc[j, 2]
            
df.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7533,-79.3297
1,M4A,North York,Victoria Village,43.7259,-79.3156
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.6543,-79.3606
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.7185,-79.4648
4,M7A,Queen's Park,Queen's Park,43.6623,-79.3895
5,M9A,Etobicoke,Islington Avenue,43.6679,-79.5322
6,M1B,Scarborough,"Rouge,Malvern",43.8067,-79.1944
7,M3B,North York,Don Mills North,43.7459,-79.3522
8,M4B,East York,"Woodbine Gardens,Parkview Hill",43.7064,-79.3099
9,M5B,Downtown Toronto,"Ryerson,Garden District",43.6572,-79.3789
10,M6B,North York,Glencairn,43.7096,-79.4451
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar...",43.6509,-79.5547