In [2]:
import pandas as pd

df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [3]:
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [4]:
df = df.dropna()
df = df[df.Borough != 'Not assigned']
df = df.replace('\n','', regex=True)

In [5]:
df = df.groupby(['Postcode','Borough'], sort=False).agg( ','.join)
df.reset_index(inplace = True)

In [6]:
df[df.Neighbourhood == 'Not assigned']

0 Postcode       Borough Neighbourhood
4      M7A  Queen's Park  Not assigned

In [7]:
df.loc[df.Neighbourhood == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [8]:
df[df.Postcode == 'M7A']

0 Postcode       Borough Neighbourhood
4      M7A  Queen's Park  Queen's Park

In [9]:
df.head()

0 Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [10]:
df.shape

(103, 3)